KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/dt/idt.o \
$(ARCHDIR)/dt/idt_flush.o \
$(ARCHDIR)/dt/gdt.o \
$(ARCHDIR)/isr/isr.o \
$(ARCHDIR)/isr/isr_gate.o \
$(ARCHDIR)/irq/pic.o \
$(ARCHDIR)/irq/irq.o \
$(ARCHDIR)/irq/irq_gate.o \

KERNEL_ARCH_INCLUDE=\
$(ARCHDIR)/include \
lib/include \
